<div class="row secondary-navigation">
  <div class="col-xs-1 left-right-margin" />
  {{> secondary-navigation/template}}
  <div class="col-xs-10 col-sm-7 map-table-container" id="map-table">
    {{> loading}}
  </div>
  <div class="col-xs-1 left-right-margin" />
</div>
