{{#partial "content"}}
  <div id="map-marker-modal-container">
    {{> marker-list-modal/template}}
  </div>

  <div class="map-header no-padding container-fluid">
    {{> primary-navigation/template}}
  </div>

  <div class="map-body no-padding container-fluid">
    <div class="row">
      <div class="col-xs-1 left-right-margin" />
      {{> secondary-navigation/template}}
      <div class="col-xs-1 hidden-sm hidden-md hidden-lg left-right-margin" />
      <div class="col-xs-1 hidden-sm hidden-md hidden-lg left-right-margin" style="clear:both;" />
      <div class="col-xs-10 col-sm-7 map-table-container" id="map-table">
        {{> loading}}
      </div>
      <div class="col-xs-1 left-right-margin" />
    </div>
  </div>
{{/partial}}

{{> page-portal}}
