{{#partial "content"}}
  <div class="map-header no-padding container-fluid">
    {{> primary-navigation/template}}
  </div>

  <div class="map-body no-padding container-fluid">
    {{> map-body}}
  </div>
{{/partial}}

{{> page-portal}}
