{{> ./_selectRowLink selectableLinks=selectableLinks}}
{{#if elements}}
    <div class="outer-container vertical-list btn-group-vertical no-left-padding full-width" role="group" aria-label="">
        {{#each elements}}
            <li class="list-item bold btn btn-secondary";
                data-id="{{id}}"
                data-href="{{href}}"
                {{#if ImageURL}}data-url="{{ImageURL}}"{{/if}}
                >{{name}}</li>
        {{/each}}
    </div>
{{/if}}
