<div class="header-list row">
  <div class="col-xs-1 left-right-margin"></div>

  <div class="col-xs-10 header-list-container column-list">
    <div class="col-xs-1 header-list-chevron pull-left">
      <span class="pagination-previous glyphicon glyphicon-chevron-left hidden-xs hidden-sm hidden-md hidden-lg"></span>
    </div>
    <div class="col-xs-10 header-list-items"></div>
    <div class="col-xs-1 header-list-chevron pull-right">
      <span class="pagination-next glyphicon glyphicon-chevron-right hidden-xs hidden-sm hidden-md hidden-lg"></span>
    </div>
  </div>

  <div class="col-xs-1 left-right-margin"></div>
</div>

<div class="header-spacer row"></div>

<div class="header-label row">
  <div class="col-xs-1 no-padding label-bg left-right-margin"></div>

  <div class="col-xs-5 col-sm-4 col-md-4 col-lg-3 label-bg label-text bold large-font"></div>

  <div class="col-xs-1 label-flag-col">
    <div class="label-flag"></div>
  </div>
  <div class="col-xs-4 col-sm-5 col-md-6"></div>

  <div class="col-xs-1 left-right-margin"></div>
</div>
