{{#if placeHolderContent}}
    <div>
       <span class="glyphicon glyphicon-time"></span><p>{{placeHolderContent}}</p>
    </div>
{{else}}
    <div>
        <p class="map-marker-preview-content">{{{content}}}</p>
    </div>
{{/if}}
